rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all users under the songs collection
    match /songs/{songId} {
      allow read, write: if request.auth != null;

      // Allow read/write access to occurrences subcollection
      match /occurrences/{occurrenceId} {
        allow read, write: if request.auth != null;
      }
    }
  }
}